<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST">{% csrf_token %}
        <div style="width: 70%; margin: 14 auto"></div>
            <div class="input-group flex-nowrap">
                <span class="input-group-text" id="addon-wrapping">Title</span>
                <input type="text" name="title" class="form-control" placeholder="title" aria-describedby="addon-wrapping">
                <button type="submit" class="btn btn-info">Submit
                </button>
            </div>
        </div>
    </form>
   
</body>
</html>